<!DOCTYPE html>
<html>
<head>
  <title>All Posts</title>
  <%- include ('navbar') %>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 20px;
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
      padding: 20px;
    }

    h2 {
      margin-top: 0;
    }

    p {
      color: #555;
    }

    .post-image {
      max-width: 100%;
      height: auto;
      margin-bottom: 15px;
    }
  </style>
</head>
<body>
  <h1>All Posts</h1>
  <ul>
    <% posts.forEach(post => { %>
      <li>
        <a href="/posts/<%= post._id %>">
          <h2><%= post.title %></h2>
          <% if (post.image && post.image.data) { %>
            <img src="data:<%= post.image.contentType %>;base64,<%= post.image.data.toString('base64') %>" class="post-image" alt="Post Image">
          <% } %>
          <p><%= post.content %></p>
        </a>
      </li>
    <% }) %>
  </ul>
</body>
</html>

